stages:
  - test
  - build

build-doc:
  stage: build
  image: poezio/build-base:latest
  script:
    - apt-get install -y make
    - pip3 install sphinx
    - make doc
  artifacts:
    expire_in: 2 weeks
    paths:
      - doc/build/html

build-ubuntu:
  stage: build
  image: poezio/build-base:latest
  script:
    - python3 setup.py sdist
    - python3 setup.py bdist
  artifacts:
    expire_in: 2 weeks
    paths:
      - dist/

security-check:
  stage: test
  image: python:3
  script:
    - pip3 install safety
    - safety check -r requirements.txt

test-ubuntu:
  stage: test
  image: poezio/test-base:latest
  script:
    - git clone git://git.louiz.org/slixmpp
    - pip3 install --upgrade pip
    - pip3 install pytest pyasn1-modules --upgrade
    - pushd slixmpp
    - python3 setup.py build
    - python3 setup.py install
    - popd
    - python3 setup.py install
    - py.test -v test/
    - pylint -E poezio

formatting-check:
  stage: test
  image: poezio/test-base:latest
  script:
    - pip3 install yapf
    - [ -n "$(yapf -dpr poezio)" ] && echo "yapf check failure" && exit 1
